<md-toolbar class="mat-elevation-z6" color="primary">
  <header class="header">
    <div>
      <a md-raised-button color="primary" routerLink="/">
        <md-icon>home</md-icon>
        Home
      </a>
      <a md-raised-button color="primary" *ngIf="auth.profileDetailsReceived$ | async" routerLink="/user">
        <md-icon>account_circle</md-icon>
        User
      </a>
    </div>

    <!--<div class="logo">-->
      <!--<img src="../../assets/images/logo.png" alt="ucTalks logo">-->
    <!--</div>-->

    <h1>ucTalks (alpha)</h1>

    <div>
      <a md-raised-button color="accent" *ngIf="!auth.isAuthenticated" (click)="auth.login()">
        <md-icon>vpn_key</md-icon>
        Login via GL account
      </a>
      <a md-raised-button color="primary" *ngIf="auth.isAuthenticated" (click)="auth.logout()">
        <md-icon>directions_run</md-icon>
        Logout
      </a>
    </div>
  </header>
</md-toolbar>
