<main class="container">
  <button
		*ngIf="userIsLoggedIn"
		class="topic-add-button"
		(click)="openAddTopicDialog()"
		md-fab
		mdTooltip="Add new topic"
		mdTooltipPosition="above">
    <md-icon>add</md-icon>
  </button>

	<ng2-md-datatable (sortChange)="onSortChange($event)">
		<ng2-md-datatable-header>
      <ng2-md-datatable-column sortableValue="name">Topic</ng2-md-datatable-column>
      <ng2-md-datatable-column sortableValue="speakerId">Speaker</ng2-md-datatable-column>
      <ng2-md-datatable-column sortableValue="presentationDate">Date</ng2-md-datatable-column>
      <ng2-md-datatable-column sortableValue="presented">Presented</ng2-md-datatable-column>
      <ng2-md-datatable-column>Slides</ng2-md-datatable-column>
      <ng2-md-datatable-column>Useful links</ng2-md-datatable-column>
      <ng2-md-datatable-column sortableValue="likes" numeric>Likes</ng2-md-datatable-column>
      <ng2-md-datatable-column *ngIf="userIsLoggedIn">Like</ng2-md-datatable-column>
      <ng2-md-datatable-column *ngIf="userIsLoggedIn">Edit</ng2-md-datatable-column>
			<ng2-md-datatable-column *ngIf="userIsLoggedIn">Delete topic</ng2-md-datatable-column>
		</ng2-md-datatable-header>

		<tbody>
			<ng2-md-datatable-row class="topic__table-row" *ngFor="let topic of topics" [selectableValue]="topic.name">
        <!-- Topic -->
        <td>{{topic.name}}</td>

        <!-- Speaker -->
        <td>
          <app-user-dropdown
            *ngIf="users"
            [users]="users"
            [selectedSpeakerId]="topic.speakerId"
            [disabled]="!userIsLoggedIn"
            (speakerSelected)="handleInputChange($event, 'speakerId', topic._id)">
          </app-user-dropdown>
        </td>

        <!-- Date -->
        <td>
          <app-datepicker
            [minDate]="!topic.presented && minDate"
            [selectedDate]="topic.presentationDate"
            [disabled]="!userIsLoggedIn"
            (dateChanged)="handleInputChange($event, 'presentationDate', topic._id)">
          </app-datepicker>
        </td>

        <!-- Presented -->
        <td class="topic__presented-cell">
          <md-checkbox
            [checked]="topic.presented"
            [indeterminate]="!topic.presented && topic.speakerId"
            [align]="'start'"
            [disabled]="!userIsLoggedIn || !topic.speakerId || !topic.presentationDate"
            (change)="handleInputChange($event, 'presented', topic._id)">
          </md-checkbox>
        </td>

        <!-- Slides -->
        <td>
          <a
            class="topic__link-to-slides"
            *ngIf="topic.linkToSlides; else notProvided"
            [attr.href]="topic.linkToSlides"
            target="_blank">
            <md-icon mdTooltip="Link to the slides" mdTooltipPosition="above">open_in_new</md-icon>
          </a>
          <ng-template #notProvided>
            <md-icon mdTooltip="Link not provided" mdTooltipPosition="above">remove</md-icon>
          </ng-template>
        </td>

        <!-- Useful links -->
        <td>
          <div *ngIf="topic.usefulLinks.length; else noUsefulLinks">
            <button md-icon-button [mdMenuTriggerFor]="menu">
              <md-icon class="topic__useful-links" mdTooltip="Useful links" mdTooltipPosition="above">more_vert</md-icon>
            </button>
            <md-menu #menu="mdMenu">
              <a
                *ngFor="let usefulLink of topic.usefulLinks"
                md-menu-item
                [attr.href]="usefulLink.link"
                target="_blank">
                {{ usefulLink.description }}
              </a>
            </md-menu>
          </div>
          <ng-template #noUsefulLinks>
            <md-icon class="topic__no-useful-links" mdTooltip="No useful links" mdTooltipPosition="above">remove</md-icon>
          </ng-template>
        </td>

        <!-- Likes -->
        <td class="numeric">{{topic.likes}}</td>

        <!-- Like -->
        <td *ngIf="userIsLoggedIn">
          <md-icon
            class="topic__like"
            [ngClass]="{ 'active': topic.likedByUser }"
            [mdTooltip]="(topic.likedByUser ? 'Remove your like from' : 'Like') + ' this topic'"
            mdTooltipPosition="above"
            (click)="like(!topic.likedByUser, topic._id)">
            thumb_up
          </md-icon>
        </td>

        <!-- Edit -->
        <td *ngIf="userIsLoggedIn">
          <md-icon
            class="topic__edit"
            (click)="openEditTopicDialog(topic)">
            mode_edit
          </md-icon>
        </td>

        <!-- Delete -->
        <td *ngIf="userIsLoggedIn">
          <md-icon
            class="topic__delete"
            mdTooltip="Completely delete the topic"
            mdTooltipPosition="above"
            (click)="openDeleteTopicDialog(topic._id)">
            delete_forever
          </md-icon>
        </td>
			</ng2-md-datatable-row>
		</tbody>
	</ng2-md-datatable>
</main>
