<mat-toolbar class="mat-elevation-z6" color="primary">
  <header class="header">
    <div>
      <a mat-raised-button color="primary" routerLink="/">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-raised-button color="primary" *ngIf="currentUserId" routerLink="/user">
        <mat-icon>account_circle</mat-icon>
        User
      </a>
    </div>

    <h1 [attr.data-automation-locator]="headerTittleLocator">ucTalks (beta)</h1>

    <div>
      <a mat-raised-button color="primary" *ngIf="currentUserId" (click)="logout()">
        <mat-icon>directions_run</mat-icon>
        Logout
      </a>
    </div>
  </header>
</mat-toolbar>
