.topic {
	display: flex;
	justify-content: flex-start;
}

.topic__points,
.topic__name,
.topic__votes {
	padding: 5px;
	border: 1px solid;
	border-top: 0;
	border-right: 0;
}

.topic__name {
	flex-grow: 1;
}

.topic__votes {
	border-right: 1px solid black;
}

.topic__votes-up,
.topic__votes-down {
	cursor: pointer;
}
