<main class="container">
  <button
		*ngIf="auth.isAuthenticated"
		class="topic-add-button"
		(click)="openAddTopicDialog()"
		md-fab
		mdTooltip="Add new topic"
		mdTooltipPosition="above">
    <md-icon>add</md-icon>
  </button>

	<ng2-md-datatable (sortChange)="onSortChange($event)">
		<ng2-md-datatable-header>
      <ng2-md-datatable-column sortableValue="name">Topic</ng2-md-datatable-column>
      <ng2-md-datatable-column>Speaker</ng2-md-datatable-column>
      <ng2-md-datatable-column>Date</ng2-md-datatable-column>
      <ng2-md-datatable-column sortableValue="likes" numeric>Likes</ng2-md-datatable-column>
      <ng2-md-datatable-column *ngIf="auth.isAuthenticated">Like</ng2-md-datatable-column>
			<ng2-md-datatable-column>Delete topic</ng2-md-datatable-column>
		</ng2-md-datatable-header>

		<tbody>
			<ng2-md-datatable-row class="topic__table-row" *ngFor="let topic of topics" [selectableValue]="topic.name">
        <td>{{topic.name}}</td>

        <td>
          <app-datepicker
            [minDate]="minDate"
            [selectedDate]="topic.presentationDate"
            [disabled]="!auth.isAuthenticated"
            (dateChanged)="updateTopicProps($event, 'presentationDate', topic._id)">
          </app-datepicker>
        </td>

        <td>
          <app-user-dropdown
            *ngIf="users"
            [users]="users"
            [selectedSpeakerId]="topic.speakerId"
            [disabled]="!auth.isAuthenticated"
            (speakerSelected)="updateTopicProps($event, 'speakerId', topic._id)">
          </app-user-dropdown>
        </td>

        <td class="numeric">{{topic.likes}}</td>

        <td *ngIf="auth.isAuthenticated">
          <md-icon
            class="topic__like"
            [ngClass]="{ 'active': topic.likedByUser }"
            [mdTooltip]="(topic.likedByUser ? 'Remove your like from' : 'Like') + ' this topic'"
            mdTooltipPosition="above"
            (click)="like(!topic.likedByUser, topic._id)">
            thumb_up
          </md-icon>
        </td>

        <td>
          <md-icon class="topic__delete" (click)="openDeleteTopicDialog(topic._id)">delete_forever</md-icon>
        </td>
			</ng2-md-datatable-row>
		</tbody>
	</ng2-md-datatable>
</main>
