@import '../../styles';

.container {
  width: 980px;
  padding-top: 50px;
  margin: 0 auto;
}

.topic-add-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.topic__like {
  color: lightgray;
  cursor: pointer;

  &.active {
    color: mat-color($uc-talks-accent);
  }
}

.topic__table-row {
  height: 3.5rem;
}
